<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	
    <!-- To read property files with @Resource usage -->
	<util:properties id="jdbcProperties" location="classpath:jdbc.properties" />
	<util:properties id="messageTextProperties" location="classpath:messageText.properties" />
	
	<!-- To read property files with @Value usage -->
	<!-- <context:property-placeholder order="2" location="classpath:jdbc.properties" /> -->

	<!-- Beans injection -->		
    <context:component-scan base-package="com.ua.myprojects.eshop.service" />
    <context:component-scan base-package="com.ua.myprojects.eshop.dao" />
    <context:component-scan base-package="com.ua.myprojects.eshop.properties" />

	<bean id="jdbcPropertiesReader" class="com.ua.myprojects.eshop.properties.JdbcPropertiesReaderImpl"/>
	<bean id="dao" class="com.ua.myprojects.eshop.dao.JdbcDaoImpl"/>
	<bean id="connector" class="com.ua.myprojects.eshop.dao.JdbcConnector"/>
	<bean id="messageData" class="com.ua.myprojects.eshop.service.model.MessageData" scope="prototype"/>
	
	<bean id="responseBuilder" class="com.ua.myprojects.eshop.builder.CommonResponseBuilder" scope="prototype"/>
	
   
    <!-- Beans mapping config -->
    <bean id="beanMapper" class="org.dozer.DozerBeanMapper">
    	<property name="mappingFiles">
    		<list>
    			<value>mapping/bean-mapping.xml</value>
    		</list>
    	</property>
    </bean>
	

</beans>